body {
    background-color: #f4b642;
}

h1 {
    color: #820b0b;
    text-align: center;
    border: outset;
}

h2 {
    color: #9433b2;
}

p {
    border-left: thick double #14007c;
}
